<!DOCTYPE html>
<html lang="fr">

<head>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/partials/header.css">
</head>

    <div id="contact-info__popup" class="contact-info__popup">
        <b id="modif">Succès!</b>
    </div>

    <header class="header">
        <div class="header_content">
            <div class="header_profile-container">
                <a href="/"><span class="header_profile-span">UberAlex</span></a><br>
            </div>

            <div class="header_main">
                <ul class="header_links">
                    <li class="header_link-li">
                        <a href="/" class="header_link"> Home </a>
                    </li>
                    <li class="header_link-li">
                        <a class="header_link"> Infos </a>
                    </li>
                </ul>
                <div class="header__main-ham-menu-cont">
                    <% if (profile != undefined) { %>
                        <li id="cart-icon" class="header_link-li">
                            <a class="cart-link"> <!-- href="/user/cart" -->
                                <img src="/assets/img/panier.png" alt="ImgPanier" class="nav_img" />
                                <p id="item_cart" class="item_qtys" style="display: block;"><%= panier.reduce((total, item)=> total + item.quantity, 0) %></p>
                            </a>
                        </li>
                        
                        <% if (profile.img == null) { %>
                            <li class="header_link-li">
                                <img alt="" src="https://d1w2poirtb3as9.cloudfront.net/default.jpeg?Expires=1713572131&amp;Signature=TFNrVB-1QKtpukH7xNtewgLChxbtmMVzVxcWdu21-TXMOi3BwI7dyypMy8gvNtmQak4GwbprYWojWMxiik2zViVLK5XQEuefrVM~~kE~LEKkIYS-9NxS2-Qsok~CTIpNXC6QeQUZ8TuonpckfE~ZLEuy1NU8DmcQ4PFohGy2oRo52JEGc3zjYyHqAlTx2EaI9umgs5jvIKV~klNrlxOZQmNh3j~bOg2v0BaxNuyQSql6eqTo1Ypy7D4kp7OVZeCLbUOASuWbxvS1MTeECvBEtgMycKpY83jVrnPNipa35A-gtVl-a11IpK7MCYTHTfK2-H5oG~KGGZJFYyHxoyQtNA__&amp;Key-Pair-Id=K36LFL06Z5BT10"
                                class="nav_img" style="border-radius: 50%;">
                            </li>
                        <% } else { %>
                            <li class="header_link-li">
                                <a href="/user/profile">
                                    <img alt="" src="../../assets/img/profiles/<%= profile.img %>"
                                    class="nav_img" style="border-radius: 50%;">
                                </a>
                            </li>
                        <% } %>
                    <% } %>

                    <li class="header_link-li">
                        <input type="checkbox" role="button" aria-label="Display the menu" class="header_menu-burger" onclick="toggleMenu()">
                    </li>
                </div>
            </div>
        </div>
    </header>

    <div id="cart-popup" class="cart-popup" style="display: none;">
        <% if (cart.length != 0){ %>
            <div id="single-restaurant" class="popup-content">
                <div class="single-header" style="">
                    <p>Panier</p>
                </div>
                <ul class="item-list">
                    <% let subtotal=0; %>
                    <% cart.forEach(item=> { %>
                        <% subtotal += (item.product.price * item.quantity); %>
                        <li>
                            <div style="display: flex; flex-direction: row;">
                                <div style="margin-right: 1rem;">
                                    <img alt="Img Frite" src="../assets/img/produits/<%= item.product.img %>" class="img_product_popup">
                                </div>
                                <div class="item-details">
                                    <h4 style="font-weight: 550;"><%= item.product.name %></h4>
                                    <p><%= item.product.type %><br><div class="cont_quantity-popup"><%= item.quantity %></div>
                                        <button class="remove-button" style="background-color: white;" onclick="removeProduct(<%= item.product.id %>)">
                                        <i class="fa fa-times"></i>
                                        </button>
                                    </p>
                                </div>
                            </div>
                            <div class="item-price"><%= (item.product.price * item.quantity).toFixed(2) %> €</div>
                        </li>
                    <% }); %>
                </ul>
                <div class="single-subtotal">Sous-total: <%= subtotal.toFixed(2) %> €</div>

                <a href="/user/cart" type="button" class="cart_popup-button">Voir le panier</a>
            </div>
        <% }; %>
    </div>

    <div id="sideMenu" class="sidenav">
        <% if (profile !=undefined) { %>
            <div>
                <div class="ah ca">
                    <% if (profile.img == null) { %>
                    <img alt="profile img" src="https://d1w2poirtb3as9.cloudfront.net/default.jpeg?Expires=1713572131&Signature=TFNrVB-1QKtpukH7xNtewgLChxbtmMVzVxcWdu21-TXMOi3BwI7dyypMy8gvNtmQak4GwbprYWojWMxiik2zViVLK5XQEuefrVM~~kE~LEKkIYS-9NxS2-Qsok~CTIpNXC6QeQUZ8TuonpckfE~ZLEuy1NU8DmcQ4PFohGy2oRo52JEGc3zjYyHqAlTx2EaI9umgs5jvIKV~klNrlxOZQmNh3j~bOg2v0BaxNuyQSql6eqTo1Ypy7D4kp7OVZeCLbUOASuWbxvS1MTeECvBEtgMycKpY83jVrnPNipa35A-gtVl-a11IpK7MCYTHTfK2-H5oG~KGGZJFYyHxoyQtNA__&Key-Pair-Id=K36LFL06Z5BT10"
                        class="ddr ddq ia kn">
                    <% } else { %>
                        <img alt="profile img" src="../../assets/img/profiles/<%= profile.img %>" class="ddr ddq ia kn">
                    <% } %>

                    <div class="spacer _16"></div>

                    <div>
                        <div class="db ddc dd ec"><%= profile.first_name %>

                        </div>
                        <a href="/user/profile"
                            class="db e4 dd e5 gf">Gérer le compte</a>
                    </div>
                </div>
                <a class="l9 ah aq hg eo" data-testid="menu-orders-button" href="/user/profile#order-sec">
                    <div class="p6 fz es ah ca cn">
                        <svg aria-hidden="true" focusable="false" viewBox="0 0 24 24" class="jjejd es et">
                            <path
                                d="M4.5 2.833v18.333l4.583-2.5 2.917 2.5 2.917-2.5 4.583 2.5V2.833h-15zM16.167 9.5H7.833V7h8.334v2.5z">
                            </path>
                        </svg>
                    </div>
                    <div class="spacer _16">

                    </div>
                    <div class="db ddc dd ec">Commandes</div>
                </a>
                <a class="l9 ah aq hg eo" data-testid="menu-favorite-button" href="/fr/favorites?fav=true">
                    <div class="p6 fz es ah ca cn">
                        <svg aria-hidden="true" focusable="false" viewBox="0 0 24 24" class="jjejd es et">
                            <path
                                d="M17 3c-2.2 0-3.8 1.2-5 2.5C10.8 4.3 9.2 3 7 3 3.5 3 1 5.9 1 9.5c0 1.8.7 3.4 2 4.5l9 8.5 9-8.5c1.2-1.2 2-2.7 2-4.5C23 5.9 20.5 3 17 3z">
                            </path>
                        </svg>
                    </div>
                    <div class="spacer _16"></div>
                    <div class="db ddc dd ec">Favoris</div>
                </a>
                <a data-testid="menu-wallet-button" href="https://wallet.uber.com/" target="_blank" rel="noopener"
                    class="l9 ah aq hg eo">
                    <div class="p6 fz es ah ca cn">
                        <svg aria-hidden="true" focusable="false" viewBox="0 0 24 24" class="jjejd es et">
                            <path d="M14.12 14H9.88l-3-3H1v9h22v-9h-5.88l-3 3z"></path>,<path
                                d="M1 4v4h7.12l3 3h1.76l3-3H23V4H1z"></path>
                        </svg>
                    </div>
                    <div class="spacer _16"></div>
                    <div class="db ddc dd ec">Wallet
                    </div>
                </a>
                <div class="neumorphism-toggle">
                    <input type="checkbox" id="neumorphism">
                    <label for="neumorphism">
                        <div class="switch">
                            <div class="dot"></div>
                        </div>
                        <span>Passer en mode restaurateur</span>
                    </label>
                </div>
                <button id="extra-button" style="display: none;">Bouton supplémentaire</button>
                  
                <a href="/user/logout" class="l9 ah aq hg eo">
                    <div class="db ddc dd de i7 p7">Déconnexion</div>
                </a>
            </div>
        <% } else { %>
                <div class="side_connection">
                    <button class="button_connection">
                        <a href="/user/reg_member"> Se connecter </a>
                    </button>
                    <button class="button_inscription">
                        <a href="/user/reg_member"> S'inscrire </a>
                    </button>
                    <a href="/user/reg_restaurateur" class="text_login">Vous etes restaurateurs</a>
                    <a href="/user/reg_restaurateur" class="text_login">Devenez restaurateurs</a>
                </div>
        <% } %>

    </div>
    <script src="/static/js/popup-cart.js" defer></script>
    <script src="/static/js/sidenav.js" defer></script>
    <script src="/static/js/info_resto.js" defer></script>
    <script src="/static/js/panier.js" defer></script>
    <script src="/static/js/successPopup.js" defer></script>

</html>