<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/home_resto.css">
</head>

<%- include('./partials/header.ejs') %>

    <body>
        <div class="container">
            <section id="home" class="home-presentation">
                <img src="path/to/restaurant-image.jpg" alt="Restaurant Image" class="header-image">
            </section>
            <div class="content">
                <div class="sidebar">
                    <aside>
                        <div class="restaurant-info">
                            <h1>
                                <%= restaurant.name %>
                            </h1>
                            <p>Frais de livraison : <%= parseFloat((restaurant.distance * 2.2 + 1.5).toFixed(2)) %>€</p>
                            <p>
                                <%= restaurant.address %>
                            </p>
                            <p>
                                <%= restaurant.distance %> km
                            </p>
                            <hr>
                            <div class="stack">
                                <div id="boutons">
                                    <div class="trait-noir"></div>
                                    <ul class="nav-links">
                                        <% types.forEach(function(type, index) { %>
                                            <li>
                                                <a href="#section<%= index+1 %>" onclick="choisirOnglet(event, <%= index %>)" <%= index === 0 ? 'class="selected"' : '' %>><%= type %></a>
                                            </li>
                                        <% }); %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>

                <main class="main-content">
                    <h2 class="heading-primary">Produits à commander:</h2>
                    <% Object.entries(typesProducts).forEach(([type, products], index) => { %>
                        <span id="section<%= index+1 %>" class="offset"></span>
                        <section id="section<%= index+1 %>" class="section menus">
                            <h2 class="title"><%= type %></h2>
                            <div class="flex-container">
                                <% products.forEach(product => { %>
                                    <div class="menu-item">
                                        <img src="../assets/img/produits/<%= product.img %>" alt="Menu Image">
                                        <p><%= product.name %> - <%= product.price %>€</p>
                                        <% if (profile != undefined){ %>
                                            <div class="quantity-control">
                                                <button id="minus" class="quantity-btn minus" disabled style="display: none;">-</button>
                                                <div id="display" class="quantity-display">+</div>
                                                <p style="display: none;"></p>
                                                <button id="plus" class="quantity-btn plus" style="display: none;">+</button>
                                            </div>
                                            <form action="/user/add-to-cart" method="post">
                                                <input type="hidden" id="productQ" name="quantity" value="1">
                                                <input type="hidden" name="productId" value="<%= product.id %>">
                                                <button id="envoi" class="btn-add-to-cart" type="submit" style="display: none;">Ajouté au panier</button>
                                            </form>
                                        <% }; %>
                                    </div>
                                <% }); %>
                            </div>
                        </section>
                    <% }); %>
                </main>                           
            </div>
        </div>

        <!-- 
            <section id="profile-sec" class="about sec-pad">
                <h3 class="heading heading-sec heading-sec__mb-med">
                    <span class="heading-sec__main"><%= restaurant.name %></span>
                </h3>
                <ul>
                    <li>
                        <%= restaurant.desc %>
                    </li>
                    <li>
                        <%= restaurant.address %>
                    </li>
                    <li class="rating">
                        <%= restaurant.rating %>
                    </li>
                </ul>
            </section>
        </section> -->

        <script src="/static/js/info_resto.js" defer></script>

    </body>
    <%- include('./partials/footer2.ejs') %>

</html>