<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/css/profile.css">
    </head>

    <%- include('./partials/header.ejs') %>
    <body>

        
        <section id="home" class="profile-presentation">
            <div class="stack">
                <div id="boutons">
                    <button class="bouton-onglet selected" onclick="choisirOnglet(0)">
                        <a href="#">Informations du Compte</a>
                    </button>
                    <button class="bouton-onglet" onclick="choisirOnglet(1)">
                        <a href="#">Vos Commandes</a>
                    </button>
                    <button class="bouton-onglet" onclick="choisirOnglet(2)">
                        <a href="#">Vos Favoris</a>
                    </button>
                    <div class="trait-noir"></div>
                </div>
            </div>
            <div class="container_info_profile">
                <div class="container_img_profile">
                    <img alt="" src="../../assets/img/profile/<%= profile.img %>" class="profile-div">
                </div>
            </div>     
        </section>
        
        <section id="profile-sec" class="profile_contenu">
            <div id="contenu">
                <div id="info" class="div_info_perso">
                    <h2 class="info-title"><strong> Informations Personnelles : </strong></h2>
                    
                    <div class="info-item">
                        <div class="info-text">
                            <p>Nom Prenom : </p>
                            <div>
                                <span id="name-display"><%= profile.last_name %> <%= profile.first_name %></span>
                                <span id="name-edit" style="display: none;">
                                    <input id="last-name" type="text" value="<%= profile.last_name %>">
                                    <input id="first-name" type="text" value="<%= profile.first_name %>">
                                    <button id="save-name" onclick="saveEdit('name')" style="display: none;">Save Name</button>
                                </span>
                                <button class="edit-button" id="button_edit-name" onclick="toggleEdit('name')">
                                    <img src="../assets/img/profiles/fleche.png" alt="">
                                </button>
                            </div>
                        </div>
                        
                    </div>
                    <div class="div_info_separation"></div>
                    
                    <div class="info-item">
                        <div class="info-text">
                            <p>Adresse : </p>
                            <div>
                                <span id="address-display"><%= profile.address %></span>
                                <span id="address-edit" style="display: none;">
                                    <input id="address" type="text" value="<%= profile.address %>">
                                    <button id="save-address" onclick="saveEdit('address')" style="display: none;">Save Address</button>
                                </span>
                                <button class="edit-button" id="button_edit-address" onclick="toggleEdit('address')">
                                    <img src="../assets/img/profiles/fleche.png" alt="">
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="div_info_separation"></div>
                    
                    <div class="info-item">
                        <div class="info-text">
                            <p>Adresse email : </p>
                            <div>
                                <span id="email-display"><%= profile.email %></span>
                                <span id="email-edit" style="display: none;">
                                    <input id="email" type="text" value="<%= profile.email %>">
                                    <button id="save-email" onclick="saveEdit('email')" style="display: none;">Save Email</button>
                                </span>
                                <button class="edit-button" id="button_edit-email" onclick="toggleEdit('email')">
                                    <img src="../assets/img/profiles/fleche.png" alt="">
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="div_info_separation"></div>
                </div>                      
                <div id="commande" style="display: none;" class="div_commande_perso">
                    <h2 class="commande_title">Vos commandes</h2>
                    <% orders.forEach(function(order) { %>
    
                        <div class="commande_item">
                            <img src="../assets/img/restaurants/<%= order.rest_img %>" alt="Restaurant Image">
                            <div class="details">
                                <div class="commande_item_info_resto">
                                    <ul>
                                        <li>
                                            <div class="horizontal">
                                                <h2 class="title_"><%= order.rest_name %></h2>
                                                <p><%= order.products.reduce((total, product)=> total + product.quantity, 0) %> plats pour <%= order.total_price %>€</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="commande_details_items">
                                    <ul>
                                        <% order.products.forEach(function(product) { %>
                                            <li>
                                                <div class="horizontal">
                                                    <span class="item_qty"><%= product.quantity %></span>
                                                    <h2 class="title_menu"><%= product.product_name %></h2>
                                                    <p><%= product.product_price %>€</p>
                                                </div>
                                            </li>
                                        <% }); %>
                                    </ul>
                                </div>
                            </div>
                            <div class="actions">
                                <button class="btn_more">Afficher plus</button>
                                <a href="/restaurant/id<%= order.rest_id %>"class="btn_more">Commander à nouveau</a>
                            </div>
                        </div>
                        <div class="div_info_separation"></div>
                        
                    <% }); %>
                    
                    <div class="show-all-btn">
                        <button class="btn_all_commande">Afficher toutes vos commandes</button>
                    </div>
                </div>
                <div id="favoris" style="display: none;">
                    <h2>Vos Favoris</h2>
                    
                </div>
            </div> 
        </section>
        <script src="/static/js/Profile.js" defer></script>
    </body>

    <%- include('./partials/footer2.ejs') %>


</html>