<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/static/css/cart.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/home.css" />
    <script src="../static/js/panier.js"></script>
</head>

<%- include('./partials/header.ejs') %>

<body>


    <main id="main-content" tabindex="-1" class="al cl am aj ak" style="padding: 20rem 0;background: linear-gradient(to right, rgba(245, 245, 245, 0.4), rgba(245, 245, 245, .4)), url('../../assets/img/fond_minimaliste.jpg');     background-position: center;
    background-size: x;
    background-attachment: fixed;">
        <h3 class="" style="background-color: RGB(0, 0, 0); justify-content: center; border-radius: 16px; display: flex; margin:auto">
            <span class="title-span" style=" color: white;">Panier</span>
        </h3>
        <div class="ei al am fh fi fj fk fl fm">
            <div class="al am fn fo fp fq">
                <div class="fr b0 eh fs ft">
                    <div class="fu fv">
                        <div class="dq al am fw fx fy fz g0">
                            <h3 class="bk g1 bm g2 g3 g4 g5">Détails de la livraison</h3>
                        </div>
                        <div>
                            <div class="cl g6">
                                <a class="al eo bc ci">
                                    <div class="g7 g8">
                                        <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none">
                                            <title>Delivery bag</title>
                                            <path
                                                d="M18 6V1H6v5H1v11c0 3.3 2.7 6 6 6h10c3.3 0 6-2.7 6-6V6h-5ZM9 4h6v2H9V4Zm11 13c0 1.7-1.3 3-3 3H7c-1.7 0-3-1.3-3-3V9h16v8Z"
                                                fill="currentColor"></path>
                                        </svg>
                                    </div>
                                    <div class="al am cl g6">
                                        <% const addressParts = profile.address.split(', '); %>
                                        <span class="bo bp dr ds b1"><%= addressParts[0] %></span>
                                        <div class="bo fd bq ds b1">
                                            <span class="i5"><%= addressParts[1] %>, <%= addressParts[2] %> </span>
                                        </div>
                                    </div>
                                    <button data-baseweb="button" data-testid="edit-delivery-address-button"
                                        class="d3 aq bc d4 d5 d6 d7 d8 d9 da db dc dd de df dg dh di dj ci dk gl dm dn do dp dq bo fd dr fe gm gn go gp gq gr gs gt b1 gu gv gw">
                                        Modifier
                                    </button>
                                </a>
                                <div class="al cr">
                                    <div class="gx gu bs cl gy"></div>
                                </div>
                            </div>
                            <div class="cl g6">
                                <a class="al eo bc ci">
                                    <div class="g7 g8">
                                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none">
                                            <title>Person</title>
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M17.5 6.5c0 3-2.5 5.5-5.5 5.5S6.5 9.5 6.5 6.5 9 1 12 1s5.5 2.5 5.5 5.5Zm-3 0C14.5 5.1 13.4 4 12 4S9.5 5.1 9.5 6.5 10.6 9 12 9s2.5-1.1 2.5-2.5ZM3 20c0-3.3 2.7-6 6-6h6c3.3 0 6 2.7 6 6v3h-3v-3c0-1.7-1.4-3-3-3H9c-1.6 0-3 1.3-3 3v3H3v-3Z"
                                                fill="currentColor"></path>
                                        </svg>
                                    </div>
                                    <div class="al am cl g6">
                                        <span class="bo bp dr ds b1">Rendez-vous devant ma porte</span>
                                        <div class="bo fd bq ds b1">
                                            <span class=""><span class="i5"><%= profile.last_name.toUpperCase() %></span></span>
                                        </div>
                                    </div>
                                    <button data-baseweb="button" data-testid="edit-delivery-address-button"
                                        class="d3 aq bc d4 d5 d6 d7 d8 d9 da db dc dd de df dg dh di dj ci dk gl dm dn do dp dq bo fd dr fe gm gn go gp gq gr gs gt b1 gu gv gw">
                                        Modifier
                                    </button>
                                </a>
                                <div class="al cr">
                                    <div class="gx gu bs cl gy"></div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h3 class="bk g1 bm g2 j0">Options de livraison</h3>
                            <div class="it">
                                <div class="j1 j2 al bc j3 j4 ci b1 ir">
                                    <div class="al d4 bc fg ff j5">
                                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" color="#0E8345">
                                            <title>Lightning</title>
                                            <path d="M11 24 21 9h-8V0L3 15h8v9Z" fill="currentColor"></path>
                                        </svg>
                                    </div>
                                    <div class="al ei eq bc">
                                        <h3 class="al am i4">
                                            <div class="al bc">
                                                <span class="bo bp dr ds">Priorité</span>
                                            </div>
                                            <span class="bo fd bq ds i5">Entre 10 et 20&nbsp;min • Livraison directement
                                                chez
                                                vous</span>
                                        </h3>
                                        <span class="bo fd bq ds b1">+1,99&nbsp;€</span>
                                    </div>
                                </div>
                                <div class="j6 j2 al bc j3 j4 ci b1 ir">
                                    <div class="al d4 bc fg ff j5">
                                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none">
                                            <title>Delivery bag move</title>
                                            <g fill="currentColor">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M21 3v5h2v8.75A4.25 4.25 0 0 1 18.75 21h-6.5A4.25 4.25 0 0 1 8 16.75V8h2V3h11Zm-3 3h-5v2h5V6Zm1.634 11.634A1.25 1.25 0 0 0 20 16.75V11h-9v5.75A1.25 1.25 0 0 0 12.25 18h6.5c.331 0 .65-.132.884-.366Z">
                                                </path>
                                                <path d="M6 8H0v3h6V8ZM6 13H1v3h5v-3Z"></path>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="al ei eq bc">
                                        <h3 class="al am i4">
                                            <div class="al bc">
                                                <span class="bo bp dr ds">Standard</span>
                                            </div>
                                            <span class="bo fd bq ds i5">Entre 10 et 25&nbsp;min</span>
                                        </h3>
                                    </div>
                                </div>
                                <div class="j1 j2 al bc j3 j4 ci b1 ir">
                                    <div class="al d4 bc fg ff j5">
                                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none">
                                            <title>Calendar</title>
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M20 1v3h3v19H1V4h3V1h3v3h10V1h3Zm0 8V7H4v2h16ZM4 12v8h16v-8H4Zm2 2h3v3H6v-3Z"
                                                fill="currentColor"></path>
                                        </svg>
                                    </div>
                                    <div class="al ei eq bc">
                                        <h3 class="al am i4">
                                            <div class="al bc">
                                                <span class="bo bp dr ds">Planifier</span>
                                            </div>
                                            <span class="bo fd bq ds i5">Sélectionnez une heure</span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="fr b0 eh fs ft">
                <div class="fu fv">
                    <h6 data-baseweb="typo-headingxsmall" class="gz h0 b1 bk bm g1 g2">Moyen de paiement</h6>
                    <div class="cl g6">
                        <a class="al eo bc ci">
                            <div class="g7 g8">
                                <svg aria-hidden="true" focusable="false" viewBox="0 0 24 24" class="h1 fc h2 h3">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2.833 5.333h18.334v3.333H2.833V5.333zm0 5.833h18.334v7.5H2.833v-7.5z"></path>
                                </svg>
                            </div>
                            <div class="al am cl g6">
                                <div data-baseweb="typo-labelmedium" class="b1 bo dr bp ds">Ajouter un moyen de paiement</div>
                            </div>
                            <input type="radio" id="opCarte" name="group">
                        </a>
                    </div>
                    <div class="cl g6">
                        <div class="al cr">
                            <div class="gx gu bs cl gy"></div>
                        </div>
                        <a class="al eo bc ci">
                            <div class="g7 g8">
                                <svg aria-hidden="true" focusable="false" viewBox="0 0 24 24" class="h1 fc h2 h3">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2.833 5.333h18.334v3.333H2.833V5.333zm0 5.833h18.334v7.5H2.833v-7.5z"></path>
                                </svg>
                            </div>
                            <div class="al am cl g6">
                                <span class="bo bp dr ds b1">Payer avec le porte-monnaie</span>
                                <div class="bo fd bq ds b1">
                                    <span class="i5">Balance: <%= logUser.balance.toFixed(2) %>€</span>
                                </div>
                            </div>
                            <input type="radio" id="opBalance" name="group">
                        </a>
                    </div>
                </div>
            </div>
            <button data-baseweb="button" data-test="place-order-btn" class="d3 aq bc d4 d5 d6 d7 d8 d9 da db dc dd de df dg dh di dj ci dk gl dm dn do dp dq bo ew dr br h4 h5 h6 h7 gz bi h8 h9 ck ha j7 hc bh af" onclick="continuerVersLePaiement()">
                Continuer vers le paiement
            </button>
            </div>
            <div class="al am fn hy fo">
                <div class="fr b0 eh fs ft">
                    <div class="fu fv">
                        <div class="hz">
                            <a class="al eq bc eo" href="/restaurant/id<%= restaurant.id %>">
                                <div class="al">
                                    <div class="al bc i0">
                                        <div class="e4 e5 i1 i2 bu ak">
                                            <img alt="" role="presentation"
                                                src="../assets/img/restaurants/<%= restaurant.img %>"
                                                class="e4 e5 i3 i1" />
                                        </div>
                                    </div>
                                    <div class="al am d4 i4">
                                        <div id_restaurant="<%= restaurant.id %>" id="restaurant" class="b1 bo dr bp ds">
                                            <%= restaurant.name %>
                                        </div>
                                        <p data-baseweb="typo-paragraphsmall" class="i5 bo bq fd ds">
                                            <%= restaurant.address %> (<%= restaurant.distance %>km)
                                        </p>
                                    </div>
                                </div>
                                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" color="#5E5E5E">
                                    <title>Chevron right small</title>
                                    <path d="m16.9 12-4.6 6H8.5l4.6-6-4.6-6h3.8l4.6 6Z" fill="currentColor"></path>
                                </svg>
                            </a>
                            <div class="al am fn">
                                <button data-baseweb="button" data-test="place-order-btn"
                                    class="d3 aq bc d4 d5 d6 d7 d8 d9 da db dc dd de df dg dh di dj ci dk gl dm dn do dp dq bo ew dr br h4 h5 h6 h7 gz bi h8 h9 ck ha j7 hc bh af">
                                    Continuer vers le paiement
                                </button>
                            </div>
                        </div>
                    </div>

                    <div id="myModal" class="modal">
                        <div class="modal-content">
                            <div class="modal-close">
                                <span class="close" onclick="closeModal()">&times;</span>
                            </div>
                            <h1>Ajouter une carte de crédit ou de débit</h1>
                            <form id="paymentForm">
                                <div class="form-group">
                                    <label for="cardNumber">Numéro de carte</label>
                                    <input type="text" id="cardNumber" name="cardNumber" required>
                                </div>
                                <div class="form-row">
                                    <div class="form-group">
                                        <label for="expDate">Date d'expiration</label>
                                        <input type="text" id="expDate" name="expDate" placeholder="MM / YY" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="cvv">Code de sécurité</label>
                                        <input type="text" id="cvv" name="cvv" required>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn-primary" onclick="submitPayment()">Ajouter une carte</button>
                                    <button type="button" class="btn-secondary" onclick="closeModal()">Annuler</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    
                    
                    <hr class="gx i6 h0 gu" />
                    <div class="fu fv">
                        
                        <ul data-baseweb="accordion" class="i7 dq do dz e0 bh">
                            <li class="i7 bh i8 hl i9 ia">
                                <div tabindex="0" role="button" aria-expanded="true"
                                    class="bo bp dr ds b1 ci b0 gz bi dz e0 do dq dn dp al bc dd ib eq ic id af">
                                    <div class="al">
                                        <div class="ie g8 al bc">
                                            <svg width="20" height="20" viewBox="0 0 24 24" fill="none">
                                                <title>Shopping cart</title>
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M5.5 18H21l2-12.5H6.5l-.5-3H.9v3h2.5L5.5 18Zm14-9.5-1 6.5H8L7 8.5h12.5ZM7.5 23a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm14-2a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z"
                                                    fill="currentColor"></path>
                                            </svg>
                                        </div>
                                        <div data-baseweb="typo-labelmedium" class="b1 bo dr bp ds">
                                            Récapitulatif du panier (<%= panier.reduce((total, item) => total + item.quantity, 0) %> article(s))
                                        </div>
                                    </div>
                                    <!-- PanierP -->
                                    <div title="Expand" class="al g8 if ig ih ii ij">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path d="M18 8v3.8l-6 4.6-6-4.6V8l6 4.6L18 8Z" fill="currentColor"></path>
                                        </svg>
                                    </div>
                                </div>
                                <div class="jv bu ik ii ij">
                                    <div class="bo fd bq ds b0 b1 dx dy dz e0 do dq dn dp af bu je jf im ii in ij io">
                                        <div class="it">
                                            <ul>
                                                <% let subtotal=0; %>
                                                <% cart.forEach(item=> { %>
                                                    <% subtotal +=item.product.price * item.quantity; %>
                                                    <li class="al bh jg"><a class="bh jh al ji jj">
                                                            <div class="al d4 bc">
                                                                <div class="ji do dq dn jk jl jm jn al d4 bu ez"><img alt="Img <%= item.product.name %>"
                                                                    src="../assets/img/produits/<%= item.product.img %>" class="jm jk i3 jo"></div>
                                                            </div>
                                                            <div class="bi gz cl al am d4 fw jp">
                                                                <div class="bo bp dr ds eh"><%= item.product.name %></div>
                                                                <div>
                                                                    <p class="bo fd bq ds eu">
                                                                        <span class="jq eh jr bo fd bq ds g8">ID: </span><span class="jq eh jr bo fd bq ds g8"><%= item.product.id %> </span>
                                                                        <span class="jq eh jr bo fd bq ds g8">Type: </span><span class="jq eh jr bo fd bq ds g8"><%= item.product.type %> </span>
                                                                    </p>
                                                                    
                                                                </div>
                                                                <div>
                                                                    <div data-baseweb="typo-labelmedium" class="cs al am js b1 bo dr bp ds">
                                                                        <div class="al ga"><span data-testid="rich-text" class="jq eh jr bo fd dr fe g8"><%= item.product.price %>€</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <button class="remove-button" onclick="removeProduct(<%= item.product.id %>)">
                                                                    <i class="fa fa-times"></i>
                                                                </button>
                                                            </div>
                                                        </a>
                                                        <div class="al bc d4">
                                                            <div class="bo fd dr fe ez gu jt bw"><%= item.quantity %></div>
                                                        </div>
                                                    </li>
                                                <% }); %>
                                                
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>
                    <hr class="gx i6 h0 gu" />
                    <div class="fu fv">
                        <h6 data-baseweb="typo-headingxsmall" class="gz h0 b1 bk bm g1 g2">
                            Total de la commande
                        </h6>
                        <div class="eo">
                            <div data-test="fare-breakdown" class="al am ga">
                                <ul class="al am ga">
                                    <li class="bo ew bq g2 al eq bc">
                                        <div class="al bc aq j9">
                                            <div class="bo bp bq br i5">Sous-total</div>
                                        </div>
                                        <div class="bo ew bq g2 b1">
                                            <span class=""><%= subtotal.toFixed(2) %>€</span>
                                        </div>
                                    </li>
                                    <li class="bo ew bq g2 al eq bc">
                                        <div class="al bc aq j9">
                                            <div class="bo bp bq br i5">Frais</div>
                                            <div id="bui1__anchor" class="al bc ja">
                                                <svg width="16" height="16" viewBox="0 0 24 24" fill="none">
                                                    <title>Circle i</title>
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M12 1C5.9 1 1 5.9 1 12s4.9 11 11 11 11-4.9 11-11S18.1 1 12 1Zm0 19c-4.4 0-8-3.6-8-8s3.6-8 8-8 8 3.6 8 8-3.6 8-8 8Zm-1.5-9v7h3v-7h-3ZM14 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z"
                                                        fill="currentColor"></path>
                                                </svg>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="bo ew bq g2 al eq bc">
                                        <div class="al bc aq j9">
                                            <div class="bo bp bq br i5">Livraison</div>
                                        </div>
                                        <div class="bo ew bq g2 b1">
                                            <% let taxe = parseFloat((restaurant.distance * 1.8 + 1.5).toFixed(2)) %>
                                            <span class=""><%= taxe %>€</span>
                                        </div>
                                    </li>
                                </ul>
                                <div class="al am ga">
                                    <hr class="gx bs h0 gu"/>
                                </div>
                                <div class="bo bp dr ds al eq">
                                    <div class="al bc aq j9">Total</div>
                                    <%= (subtotal + taxe).toFixed(2) %>€
                                </div>
                            </div>
                        </div>
                        <div class="hz">
                            <div class="al am i4">
                                <div class="bo er bq ds b1">
                                    <span class="bo er bq ds jb"><span class="bo er dr fe jb">Contrats sur les
                                        services</span>
                                        En cliquant sur le bouton pour passer votre commande, vous
                                        acceptez le
                                        <a href="" class="bo er bq ds jc">Contrat sur les services de livraison;</a></span>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="iy b9 at bh b0 iz"></div>

        <div id="myModal2" class="modal">
            <div id="popup2" class="modal-content">
                <div class="modal-close">
                    <span class="close" onclick="closeModal2()">&times;</span>
                </div>
                <h1>Payer avec votre solde</h1>
                <div>
                    <p>Votre solde actuel est de <span id="soldeUser"><%= logUser.balance.toFixed(2) %> €</span>.</p>
                    <p>Le montant de la commande est de <span id="montantCommande"><%= (subtotal + taxe).toFixed(2) %></span>€.</p>
                    <p id="resteSolde">Votre nouvelle solde sera de <span> <%= (logUser.balance - (subtotal + taxe)).toFixed(2) %> €</span>.</p>
                </div>
                <button type="button" class="btn-primary" onclick="validerPaiement()">Valider le paiement</button>
            </div>
        </div>
    </main>
    
</body>

<%- include('./partials/footer2.ejs') %>

</html>
